# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore

# Frontend
Frontend/node_modules
Frontend/dist
Frontend/coverage
Frontend/.DS_Store
Frontend/.env.local
Frontend/.env.development.local
Frontend/.env.test.local
Frontend/.env.production.local

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv
.pytest_cache/
.mypy_cache/
.hypothesis/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
*.log

# OS
.DS_Store
Thumbs.db
